DATABASE_URL=sqlite+aiosqlite:///./dy.db

CLOUDINARY_API_SECRET=your_claudinary_api_secret
CLOUDINARY_API_KEY=your_claudinary_api_key
CLOUDINARY_CLOUD_NAME=your_claudinary_name

TELEGRAM_TOKEN=your_token
MINI_APP_URL=not_yet_there